<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="Search by book name or author..."
    (keyup.enter)="searchBooks()"
  />
  <button (click)="searchBooks()">Search</button>
</div>

<div class="book-card" *ngFor="let book of books">
    <img [src]="storage_path+book.image_path" alt="{{ book.name }}">
    <div class="book-details">
      <h4>{{ book.name }}</h4>
      <p>Author: {{ book.author }}</p>
      <p>Published Date: {{ book.published_date }}</p>
    </div>
  </div>
  