<!-- author-list.component.html -->

<div class="container">
    <h2>Author List</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors">
          <td>{{ author.name }}</td>
          <td>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                [(ngModel)]="author.status"
                (ngModelChange)="toggleAuthorStatus(author)"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"></label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  